.keyboardButton {
    width: 33.33%;
    padding: 4px 0;
    text-transform: uppercase;
    border: 1px solid #C6CBD4;
    background-color: #fff;
    outline: none;

}

.keyboardButton:active {
    color: white;
    background-color: #157EFB;
}

.keyboardButton:focus {
    box-shadow: inset 0px 0px 7px 1px #157EFB;
}

.keyboardButton__number {
    font-size: 20px;
}

.keyboardButton--backspace {
    background: url('/deleteIcon.svg') center / auto no-repeat #C6CBD4;
}

.keyboardButton--shift {
    background: url('/capsIcon.svg') center / auto no-repeat #C6CBD4;
}

.keyboardButton--textHidden > span {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);    
}